<body>
    <div class="bootstrap-wrapper">
    <div class="row">
       <div class="col-md-5 offset-4" style="border: 1px solid black; padding: 30px;">
        <img src="../../assets/images/consult.webp" class="card-img-top" alt="...">
        <form [formGroup]="loginForm" (ngSubmit)="loginCheck()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" 
              class="form-control"
              id="userEmail"
              name="userEmail"
              formControlName="userEmail"
              aria-describedby="emailHelp">

              <span *ngIf="loginForm.controls['userEmail'].touched && !loginForm.controls['userEmail'].valid">

                <span *ngIf="loginForm.controls['userEmail'].hasError('required')">
                     Email is required !
                </span>
  
                <span *ngIf="loginForm.controls['userEmail'].hasError('Email')">
                  please enter correct Email Id !
              </span>

               </span>

              <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password"
              class="form-control"
              name="userPassword"
              id="userPassword"
              formControlName="userPassword">
              <span *ngIf="loginForm.controls['userPassword'].touched && !loginForm.controls['userPassword'].valid">

                <span *ngIf="loginForm.controls['userPassword'].hasError('required')">
                  Password is required !
                </span>
  
                <span *ngIf="loginForm.controls['userPassword'].hasError('minlength')">
                  Password should be mininum 4 characters !
              </span>
                   
              <span *ngIf="loginForm.controls['userPassword'].hasError('maxlength')">
                Password should be maximun 10 characters !
            </span>          
              </span>           
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-success">Login</button>
            <button type="submit" class="btn btn-primary" >Reset</button>
            <br>

            <a routerLink="/re-user">Register User</a>
            </div>
        </form>
       </div>   
    </div>
</div>
</body>


