<body>
<h1 class="text-center"></h1>

<div class="container" >

    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Medicine Name</th>
            <th scope="col">Medicine Type</th>
            <th scope="col">Importer Email</th>
            <th scope="col">Medicine Number</th>
            <th scope="col">Available Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of studentList">
            <th>{{data.studentIdl}}</th>
            <td>{{data.studentName}}</td>
            <td>{{data.studentClass}}</td>
            <td>{{data.studentEmail}}</td>
            <td>{{data.studentPassword}}</td>
            <td>{{data.studentAge}}</td>
          </tr>
        </tbody>
      </table>
</div>
</body>
