<div class="bootstrap-wrapper">

    <div >
        <div class="row">
            <app-admin-nevbar></app-admin-nevbar>
       </div>

       <div class="row">

       <router-outlet></router-outlet>

       </div>

<body>
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">HI...<span class="w3-hide-small">ADMIN</span>...ABHINAV</span>
    </div>
  </div>
  
  <!-- Container (About Section) -->
  <div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">ABOUT ADMIN</h3>
    <p class="w3-center"><em>I love Peoples</em></p>
    <p>Emedicare provides you health services at affordable prices and makes it accessible to everyone. Our aim is to empowering our users with online booking Doctors appointments, purchase online medicines, diagnostic and maintain your health records. Whether you choose to interact with emedicare online, on the phone, or through other channels, our goal is to make sure you get best services and information to make better healthcare decisions about you and your family health.</p>
    <div class="w3-row">
      <div class="w3-col m6 w3-center w3-padding-large">
        <p><b><i class="fa fa-user w3-margin-right"></i>My Name is Abhinav</b></p><br>
        <img src="../../assets/images/3.jpeg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
      </div>
  
      <!-- Hide this text on small devices -->
      <div class="w3-col m6 w3-hide-small w3-padding-large">
        <p>Welcome to my website. They say content is king. Ultimately, that’s true. It’s important for websites to have relevant and helpful content. If you’re writing things just for the sake of writing them, without a clear purpose, your audience will start to tune you out—and it’s hard to be tuned back in.

            Besides having clear, helpful content, you should also pay attention to how your content is organized and displayed. Make good use of headings, lists, and visuals. They help break up your content so it’s easier for your visitors to digest and skim.</p>
      </div>
    </div>
    </div>
  
  <div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">14+</span><br>
      Partners
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">550+</span><br>
      Orders Done
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">89+</span><br>
      Happy Clients
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">150+</span><br>
      Cousumers
    </div>
  </div>
  
  <!-- Second Parallax Image with Portfolio Text -->
  <div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
      <span class="w3-xxlarge w3-text-white w3-wide">For a Better Future</span>
    </div>
  </div>
  
  <!-- Container (Portfolio Section) -->
  <div class="w3-content w3-container w3-padding-64" id="portfolio">
    <h3 class="w3-center">MY WORK</h3>
    <p class="w3-center"><em>The Internet is always changing. There are constantly new website standards to meet and security measures to update. Websites, just like businesses, are forever evolving.<br></em></p><br>
  </div>
  
  <!-- Third Parallax Image with Portfolio Text -->
  <div class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
       <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
    </div>
  </div>
  
  <!-- Container (Contact Section) -->
  <div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center">WHERE I WORK</h3>
    <p class="w3-center"><em>And I love it</em></p>
  
    <div class="w3-row w3-padding-32 w3-section">
      <div class="w3-col m4 w3-container">
        <img src="/w3images/map.jpg" class="w3-image w3-round" style="width:100%">
      </div>
      <div class="w3-col m8 w3-panel">
        <div class="w3-large w3-margin-bottom">
          <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Delhi, US<br>
          <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: 011-9821241<br>
          <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: emedicare@Contact.com<br>
        </div>
        <p>what about a rest and take a <i class="fa fa-coffee"></i>, work more hard tomorrow</p>
        
          
    </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Trained-By <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green"></a>BirlaSoft</p>
  </footer>



</body>



    </div>
</div>
