<html>
<div class="bootstrap-wrapper">
  <div >
        <div class="row">
            <app-user-nevbar></app-user-nevbar>
       </div>
       <div class="row">
        <router-outlet></router-outlet>
       </div>
    </div>
</div>
<body>
    <!-- Image Header -->
    <div class="slider" class="align-center">
      <div class="images">
          <input type="radio" name="slide" id="img1" checked>
          <input type="radio" name="slide" id="img2" checked>
          <input type="radio" name="slide" id="img3" checked>
          <input type="radio" name="slide" id="img4" checked>
    
          <img src="../../assets/images/emedicare_banners_2.png" class="m1" alt="img1">
          <img src="../../assets/images/emedicare_banners_1.png" class="m2" alt="img2">
          <img src="../../assets/images/emedicare_banners_3.png" class="m3" alt="img3">
          <img src="../../assets/images/emedicare_banners_2.png" class="m4" alt="img4">
      </div>
      <div class="dots">
          <label for="img1"></label>
          <label for="img2"></label>
          <label for="img3"></label>
          <label for="img4"></label>
      </div>
    </div>
    </body>
    
    
    
    <!-- Team Container -->
    <div class="w3-container w3-padding-64 w3-center" id="team">
        <h2>OUR SERVICES</h2>
        <p>Check out the list for Our services:</p>
        
        <div class="w3-row"><br>
        
        <div class="w3-quarter">
          <img src="../../assets/images/Medicines services.jpeg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
          <h3>Medicines services</h3>
          <p>Orders</p>
        </div>
        
        <div class="w3-quarter">
          <img src="../../assets/images/consult.webp" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
          <h3>consult</h3>
          <p>Register Users Only</p>
        </div>
        
        <div class="w3-quarter">
          <img src="../../assets/images/body check.jpeg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
          <h3></h3>
          <p>Body check</p>
        </div>
        
        <div class="w3-quarter">
          <img src="../../assets/images/Treatmest.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
          <h3>Treatments</h3>
          <p>special appointment</p>
        </div>
        
        </div>
        </div>
        
        <!-- Work Row -->
        <div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">
        
        <div class="w3-quarter">
        <h2>Our Work</h2>
        <p>Emedicare provides you health services at affordable prices and makes it accessible to everyone. Our aim is to empowering our users with online booking Doctors appointments, purchase online medicines, diagnostic and maintain your health records. Whether you choose to interact with emedicare online, on the phone, or through other channels, our goal is to make sure you get best services and information to make better healthcare decisions about you and your family health.</p>
        </div>
        
        <div class="w3-quarter">
        <div class="w3-card w3-white">
          <img src="../../assets/images/1.jpeg" alt="Snow" style="width:100%">
          <div class="w3-container">
          <h3>Shweta</h3>
          <h4>Treatments</h4>
          <p>Dr Vijay Kumar Chennamchetty: We met Dr Vijay Chennamchetty last month with severe cough and sputum for my father Dr Varaprasad. His way of handling patients is excellent and so soothing that the patient feels immensely confident about recovery. Thanks to Dr. Vijay, within 2 weeks, he is completely normal.</p>
          </div>
          </div>
        </div>
        
        <div class="w3-quarter">
        <div class="w3-card w3-white">
          <img src="../../assets/images/Medicines services.jpeg" alt="Lights" style="width:100%">
          <div class="w3-container">
          <h3>Vijay</h3>
          <h4>Medicines</h4>
          
          <p>Companies that ACTUALLY PROVIDE CUSTOMER SERVICE are so rare in this day and age. These guys are awesome!</p>
          </div>
          </div>
        </div>
        
        <div class="w3-quarter">
        <div class="w3-card w3-white">
          <img src="../../assets/images/cons2.jpeg" alt="Mountains" style="width:100%">
          <div class="w3-container">
          <h3>Lily </h3>
          <h4>Consultent</h4>
          <p>i dont normally talk to doctors online. this is the first time. and i have to say it was a good experience. doctor responded in about 7-8 minutes. first asked many questions to understand my situation and then explained my case to me with symptoms, causes and diagnosis. so awesome! will return and recommend my friends also!</p>
          </div>
          </div>
        </div>
        
        </div>
        
        <!-- Container -->
        <div class="w3-container" style="position:relative">
          <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
          style="position:absolute;top:-28px;right:24px">+</a>
        </div>
        
        <!-- Pricing Row -->
        <div class="w3-row-padding w3-center w3-padding-64" id="orders">
            <h2>SERVICE OVERVIEW</h2>
            <p>View a pricing plan that fits your needs.</p><br>
            <div class="w3-third w3-margin-bottom">
              <ul class="w3-ul w3-border w3-hover-shadow">
                <li class="w3-theme">
                  <p class="w3-xlarge">Medicines</p>
                </li>
                <li class="w3-padding-16"><b>10 Pec</b> Monthly</li>
                <li class="w3-padding-16"><b>10% Off </b>Re-orders</li>
                <li class="w3-padding-16"><b>50%</b>Delivery Discount</li>
                <li class="w3-padding-16"><b>Endless</b> Support</li>
                <li class="w3-padding-16">
                  <h2 class="w3-padding-19">Min Req<i class=""></i> 10 Orders</h2>
                  <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-theme-l5 w3-padding-24">
                  <button class="w3-button w3-teal w3-padding-large" routerLink="/add-order"><i class="fa fa-check"></i>ADD-order</button>
                </li>
              </ul>
            </div>
        
            <div class="w3-third w3-margin-bottom">
              <ul class="w3-ul w3-border w3-hover-shadow">
                <li class="w3-theme-l2">
                  <p class="w3-xlarge">Consults</p>
                </li>
                <li class="w3-padding-16"><b>5</b> Monthly Connects</li>
                <li class="w3-padding-16"><b>5</b> Virtual Connects</li>
                <li class="w3-padding-16"><b>25%</b>Overall Discount</li>
                <li class="w3-padding-16"><b>Endless</b> Support</li>
                <li class="w3-padding-16">
                  <h2 class="w3-wide">Min 3 Consultent</h2>
                  <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-theme-l5 w3-padding-24">
                  <button class="w3-button w3-teal w3-padding-large " routerLink="/add-order"><i class="fa fa-check"></i>ADD-Order</button>
                </li>
              </ul>
            </div>
        
            <div class="w3-third w3-margin-bottom">
              <ul class="w3-ul w3-border w3-hover-shadow">
                <li class="w3-theme">
                  <p class="w3-xlarge">Treatments</p>
                </li>
                <li class="w3-padding-16"><b>3</b> Monthly Connects</li>
                <li class="w3-padding-16"><b>5</b> Virtual Connects</li>
                <li class="w3-padding-16"><b>50%</b> tax Benifits</li>
                <li class="w3-padding-16"><b>Endless</b> Support</li>
                <li class="w3-padding-16">
                  <h2 class="w3-wide">Min 2 Treatment</h2>
                  <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-theme-l5 w3-padding-24">
                  <button class="w3-button w3-teal w3-padding-large" routerLink="/add-order"><i class="fa fa-check"></i>ADD-order</button>
                </li>
              </ul>
            </div>
        </div>
        
        <!-- Contact Container -->
        <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
          <div class="w3-row">
            <div class="w3-col m5">
            <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
              <h3>Address</h3>
              <p>wz-666 Dwarka emedicare delhi</p>
              <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>New Delhi India</p>
              <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>011-82839192</p>
              <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>emedicare.help@support.com</p>
            <div> <a href="/login">Sign-up special Orders</a></div>
            </div>
          </div>  
        </div>
        
        <!-- Image of location/map -->
        <img src="../../assets/images/cccccccccccc.avif" class="w3-image w3-greyscale-min" style="width:100%;"> 
        <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
          <h4>Follow Us</h4>
          <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
          <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
          <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
          <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
          <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
          <p><a href="/home-home" target="_blank">Open In new Tab</a></p>
        
          <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
            <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
            <a class="w3-button w3-theme" href="home-home"><span class="w3-xlarge">
            <i class="fa fa-chevron-circle-up"></i></span></a>
          </div>
        </footer>
      
    
    </html>
